<header>
 
    <div class="position">
      <div class="nav-container d-flex align-items-center">
        <div class="nav-item mx-4">
          <div>
            <a routerLink="/user/cart">
              <i
                class="fa-solid fa-cart-shopping fs-2"
                style="color: var(--usuario-bg)"
              >
                <span class="mt-2">
                  <!-- {{ productService.getLocalCartProducts().length }} -->
                  0
                </span>
              </i>
            </a>
          </div>
        </div>

        <div class="dropdown">
          <button
            class="btn btn-secondary usuario"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="white"
              class="bi bi-list"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="white"
              class="bi bi-person-circle"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
              />
            </svg>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/user/profile">Mi perfil</a>
            </li>
            <li><a class="dropdown-item" routerLink="#">Mis reservas</a></li>
            <li>
              <a class="dropdown-item" routerLink="/user/favorite"
                >Mis Favoritos</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/user/myshop">Mi tienda</a>
            </li>
            <li><a class="dropdown-item" routerLink="#">Contáctenos</a></li>
            <li><a class="dropdown-item" routerLink="/">Cerrar sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
 

  <app-register-modal></app-register-modal>
  <app-login-modal></app-login-modal>
</header>

<nav
  class="sidebar d-flex flex-column flex-shrink-0 position-fixed"
  [ngClass]="{ collapsed: isSidebarCollapsed }"
>
  <button class="toggle-btn" (click)="onToggleSidebar()">
    <i
      class="fas"
      [ngClass]="isSidebarCollapsed ? 'fa-chevron-right' : 'fa-chevron-left'"
    ></i>
  </button>

  <div class="p-4">
    <h4 class="logo-text fw-bold mb-0">Alquila ya!!!</h4>
  </div>

  <div class="nav flex-column">
    <a
      routerLink="/admin/profile"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="sidebar-link active text-decoration-none p-3"
    >
      <i class="fa-solid fa-user me-3"></i>
      <span class="hide-on-collapse">Gestionar mi perfil</span>
    </a>
    <a
      routerLink="/admin/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="sidebar-link text-decoration-none p-3"
    >
      <i class="fas fa-chart-bar me-3"></i>
      <span class="hide-on-collapse">Analytics y Reportes</span>
    </a>
    <a
      routerLink="/admin/documentverifier"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="sidebar-link text-decoration-none p-3"
    >
      <i class="fas fa-users me-3"></i>
      <span class="hide-on-collapse">Gestión Usuarios</span>
    </a>
    <a
      routerLink="/admin/categorymanagement"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="sidebar-link text-decoration-none p-3"
    >
      <i class="fa-solid fa-layer-group me-3"></i>
      <span class="hide-on-collapse">Gestión Categorías</span>
    </a>
    <a
      routerLink="/admin/documentverifier"
      class="sidebar-link text-decoration-none p-3"
    >
      <i class="fas fa-box me-3"></i>
      <span class="hide-on-collapse">Gestión Productos</span>
    </a>
    <a
      routerLink="/admin/characteristics"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="sidebar-link text-decoration-none p-3"
    >
      <i class="fas fa-box me-3"></i>
      <span class="hide-on-collapse">Gestión Caracteristicas</span>
    </a>
    <a href="#" class="sidebar-link text-decoration-none p-3">
      <i class="fa-solid fa-id-card me-3"></i>
      <span class="hide-on-collapse">Tipo Documentos</span>
    </a>
    <a href="#" class="sidebar-link text-decoration-none p-3">
      <i class="fa-solid fa-right-from-bracket me-3"></i>
      <span class="hide-on-collapse">Cerrar sesión</span>
    </a>
    <div class="p-2 profile-section">
      <div class="d-flex align-items-center">
        <img
          src="https://randomuser.me/api/portraits/women/70.jpg"
          style="height: 60px"
          class="rounded-circle"
          alt="Profile"
        />
        <div class="ms-3 profile-info">
          <h6 class="text-white mb-0">Alex Morgan</h6>
          <small class="text-muted">Admin</small>
        </div>
      </div>
    </div>
  </div>
</nav>
