.fondo {
    background: linear-gradient(45deg, #D4DB81, #AEDC81, #DBD381, #038f2a);
}

.img-logo {
    width: 150px; /* Ajusta el tamaño del logo */
    height: 150px; /* Mantiene la imagen en forma cuadrada */
    border-radius: 50%; /* Hace que la imagen tenga bordes redondeados */
    object-fit: cover; /* Asegura que la imagen cubra el área circular sin deformarse */
    border: 2px solid #5aad10; /* Borde opcional verde */
}

.usuario {
    background-color: seagreen;
    border-radius: 50px;
}