.fondo {
    background: linear-gradient(45deg, #D4DB81, #AEDC81, #DBD381, #81DB9A);
}

.img-logo{
    height: 60px;
    width: 100%;
}

.usuario {
    background-color: seagreen;
    border-radius: 50px;
}