<section class="pd-top">
  <div class="container py-5  p-5 rounded shadow">
    <a routerLink="/user/listproducts" class="btn btn-outline-success mb-3"
      ><i class="bi bi-arrow-left"></i> Volver a todos los productos</a
    >
    <div class="row">
      <h1 class="text-success">{{ products.name }}</h1>
      <!-- Imagen principal y miniaturas -->
      <div class="col-md-8">
        <div>
          <img
            [src]="
              products.primaryPhotoUrl
                ? products.primaryPhotoUrl
                : '/default.png'
            "
            alt="Producto principal"
            class="img-fluid rounded mb-3 border"
            style="max-height: 400px; object-fit: cover; width: 100%"
          />
          <div class="d-flex justify-content-start gap-2 overflow-auto">
            <img
              *ngFor="let item of productPhotoData"
              [src]="
                item.photoUrl ? item.photoUrl : '/default.png'
              "
              alt="Miniatura"
              class="img-thumbnail border"
              style="
                max-width: 80px;
                max-height: 80px;
                cursor: pointer;
                object-fit: cover;
              "
            />
          </div>
        </div>
      </div>

      <!-- Información del producto -->
      <div class="col-md-4 p-4 border border-success shadow rounded bg-white">
        <h1 class="mb-3 text-success">{{ products.name }}</h1>
        <span class="badge bg-dark text-white small">{{
          products.productCondition
        }}</span>
        <h4 class="mb-2 text-success">
          Precio: {{ products.price | currency }}
        </h4>

        <p class="text-muted mb-3 text-truncate">{{ products.description }}</p>
        <form [formGroup]="orderForm" (ngSubmit)="addOrderDetail()">
          <div class="mb-4">
            <div>
              <label for="startDate" class="form-label">Fecha de inicio</label>
              <input type="date" id="startDate" formControlName="startDate" class="form-control mb-2"/>
              <div *ngIf="orderForm.controls['startDate']?.touched && orderForm.controls['startDate']?.hasError('required')" class="text-danger">
                La fecha inicial es obligatoria.
              </div>
            </div>
            <div>
              <label for="endDate" class="form-label">Fecha de inicio</label>
              <input type="date" id="endDate" formControlName="endDate" class="form-control mb-2"/>
              <div *ngIf="orderForm.controls['endDate']?.touched && orderForm.controls['endDate']?.hasError('required')" class="text-danger">
                La fecha final es obligatoria.
              </div>
            </div>
            <div>
              <label for="days" class="form-label">Cantidad</label>
              <input type="number" id="quantity" formControlName="quantity" class="form-control" placeholder="Seleccione una cantidad"/>
              <div *ngIf="orderForm.controls['price']?.touched && orderForm.controls['price']?.hasError('required')" class="text-danger">
                La cantidad es obligatoria.
              </div>
            </div>
            
          </div>
          <div class="text-center mt-4">
            <button class="btn btn-success w-100" id="addToCartBtn" [disabled]="orderForm.invalid || isLoading">Añadir al carrito </button>
          </div>
        </form>
      </div>
    </div>

    <div class="row mt-5">
      <!-- Detalles del producto -->
      <div class="col-md-7">
        <h2 class="text-success mb-3">Detalles del Producto</h2>
        <div>
          <p class="fw-bold">Proveedor: {{ products.supplierName }}</p>
          <p>{{ products.description }}</p>
        </div>

        <h3 class="text-muted mt-4">Características</h3>
        <ul class="list-group mb-4">
          <li
            class="list-group-item"
            *ngIf="ProductCharacteristicsData.length === 0"
          >
            No hay características disponibles.
          </li>
          <li
            class="list-group-item"
            *ngFor="let item of ProductCharacteristicsData"
          >
            <strong>{{ item.productCharacteristic.characteristicName }}</strong>
            : {{ item.value }}
          </li>
        </ul>

        <h3 class="text-muted">Ubicaciones Disponibles</h3>
        <table class="table table-striped table-bordered">
          <thead class="table-dark">
            <tr>
              <th class="text-center">Dirección</th>
              <th class="text-center">Ciudad</th>
              <th class="text-center">Departamento</th>
              <th class="text-center">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ProductDetailsData">
              <td>{{ ProductDetailsData[0].address }}</td>
              <td>{{ ProductDetailsData[0].city }}</td>
              <td>{{ ProductDetailsData[0].department }}</td>
              <td>{{ ProductDetailsData[0].stock }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Mapa de ubicación -->
      <div class="col-md-5">
        <h2 class="text-success mb-3">Ubicación</h2>
        <iframe
          width="100%"
          height="400px"
          style="border: 0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          [src]="mapUrl"
        ></iframe>
      </div>
    </div>
  </div>
</section>
