<section class="container pt-5">
  <div>
    <h3>Mis productos</h3>
  </div>
  <div>
    <div class="d-flex align-items-end justify-content-end mt-5">
      <button
        class="color-bg btn fw-semibold text-white"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#addProductModal"
      >
        <i class="ri-add-circle-line"></i> Agregar producto
      </button>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 my-3">
      <div class="col" *ngFor="let product of products">
        <div class="card h-100 shadow-sm border-0">
          <!-- Imagen del producto -->
          <img
            [src]="
              product.primaryPhotoUrl ? product.primaryPhotoUrl : '/default.png'
            "
            alt="{{ product.name }}"
            class="card-img-top img-fluid rounded"
          />

          <!-- Cuerpo de la tarjeta -->
          <div class="card-body">
            <div class="d-flex justify-content-end">
              <span class="badge rounded-pill bg-secondary text-white">
                {{ product.productCondition }}
              </span>
            </div>
            <h5 class="card-title mt-2 text-primary">{{ product.name }}</h5>
            <p class="card-text text-muted mb-2">
              <i class="fa-solid fa-tag"></i> Categoría:
              {{ product.categoryName }}
            </p>
            <p class="card-text text-success fw-bold">
              <i class="fa-solid fa-dollar-sign"></i>
              {{ product.price | currency }}
            </p>
          </div>

          <!-- Pie de tarjeta -->
          <div class="card-footer bg-light border-top-0">
            <div class="row align-items-center g-2">
              <!-- Botón de detalles -->
              <div class="col">
                <button
                  class="btn btn-success w-100"
                  (click)="idProduct(product.productId)"
                  type="button"
                >
                  <i class="fa-solid fa-eye"></i> Ver/Editar Detalles
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-add-product></app-add-product>
