<section class="container pt-5">
    <div>
        <h1>Mi Perfil</h1>
    </div>
    <div class="my-5 p-5 border border-success rounded-4 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <div class="row">
        
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="" class="form-label">Nombre del Negocio</label>
                    <input type="text" class="form-control" name="" id="" placeholder=""/>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Direccion del Negocio</label>
                    <input type="text" class="form-control" name="" id="" placeholder=""/>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Numero de celular</label>
                    <input type="number" class="form-control" name="" id="" placeholder=""/>
                </div>  
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="" class="form-label">Tipo de negocio</label>
                    <input type="text" class="form-control" name="" id="" placeholder=""/>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" name="" id="" placeholder=""/>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Correo Electronico</label>
                    <input type="email" class="form-control" name="" id="" placeholder=""/>
                </div>  
            </div>
        </div>
        <div class="row my-5">
            <div class="col-3">
                <input name="" id="" class="btn btn-success" type="button" value="Guardar Cambios"/>
            </div>
        </div>
    </div>
</section>
