<div
  class="modal fade"
  id="{{ modalId }}"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">
          {{ isEditing ? 'Editar Característica' : 'Agregar Característica' }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="handleSubmit()">
          <div class="mb-3">
            <label for="characteristicName" class="form-label">Nombre</label>
            <input
              type="text"
              id="characteristicName"
              [(ngModel)]="formData.characteristicName"
              name="characteristicName"
              class="form-control"
              [class.is-invalid]="formError"
              required
            />
            <div *ngIf="formError" class="text-danger">
              {{ formError }}
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-custom" [disabled]="loading">
              <span *ngIf="!loading">Guardar</span>
              <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
            </button>
            <button
              type="button"
              class="btn btn-cancel ms-3"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

