<nav class="sidebar d-flex flex-column flex-shrink-0 position-fixed" [ngClass]="{ 'collapsed': isSidebarCollapsed }">
  <button class="toggle-btn" (click)="onToggleSidebar()">
    <i class="fas" [ngClass]="isSidebarCollapsed ? 'fa-chevron-right' : 'fa-chevron-left'"></i>
  </button>

  <div class="p-4">
    <h4 class="logo-text fw-bold mb-0">Alquila ya!!!</h4>
  </div>

  <div class="nav flex-column">
    <a routerLink="/admin/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="sidebar-link active text-decoration-none p-3">
      <i class="fa-solid fa-user me-3"></i>
      <span class="hide-on-collapse">Gestionar mi perfil</span>
    </a>
    <a routerLink="/admin/documentverifier"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="sidebar-link text-decoration-none p-3">
      <i class="fas fa-users me-3"></i>
      <span class="hide-on-collapse">Gestión Usuarios</span>
    </a>
    <a routerLink="/admin/categorymanagement" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="sidebar-link text-decoration-none p-3">
      <i class="fa-solid fa-layer-group me-3"></i>
      <span class="hide-on-collapse">Gestión Categorías</span>
    </a>
    <a routerLink="/admin/documentverifier" class="sidebar-link text-decoration-none p-3">
      <i class="fas fa-box me-3"></i>
      <span class="hide-on-collapse">Gestión Productos</span>
    </a>
    <a routerLink="/admin/characteristics" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="sidebar-link text-decoration-none p-3">
      <i class="fas fa-box me-3"></i>
      <span class="hide-on-collapse">Gestión Caracteristicas</span>
    </a>
    <a routerLink="/admin/type-document"  class="sidebar-link text-decoration-none p-3">
      <i class="fa-solid fa-id-card me-3"></i>
      <span class="hide-on-collapse">Tipo Documentos</span>
    </a>
    <a (click)="logout()" class="sidebar-link text-decoration-none p-3">
      <i class="fa-solid fa-right-from-bracket me-3"></i>
      <span class="hide-on-collapse">Cerrar sesión</span>
    </a>
  </div>
</nav>
