<section class="bodycart">
    <div class="container my-5">
        <h1>Carro de la compra</h1>
        <div class="d-flex justify-content-center container login-form shadow p-3 mb-5 rounded">
            <div class="contenido p-3">
                <h2 class="mb-5 text-center">¡Bienvenido de nuevo!</h2>
                <h5 class="my-5 text-center">Te recomendamos iniciar sesion para hacer uso de todo lo que alquilaya tiene para ti</h5>
                <div>
                    <p class="text-center">¡O mira nuestros productos! no te preocupes, nosotros no mordemos..</p>
                    <div class="d-flex justify-content-center mt-2">
                        <button class="btn btn-success text-center" routerLink="/listproducts">Ver Productos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
