<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog" [attr.aria-labelledby]="modalId + 'Label'" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [id]="modalId + 'Label'">
          {{ isEditing ? 'Editar Categoría' : 'Agregar Nueva Categoría' }}
        </h5>
       
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="handleCancel()">
          <i class="ri-close-line"></i>  <!-- Remplace con el icono Remix -->
        </button>

      </div>
      <div class="modal-body">
        <!-- Mensaje de error -->
        <div *ngIf="formError" class="alert alert-danger">
          {{ formError }}
        </div>
        
        <!-- Formulario de Categoría -->
        <form (ngSubmit)="handleSubmit()">
          <div class="form-group">
            <label for="categoryName">Nombre de la Categoría</label>
            <input type="text" id="categoryName" class="form-control" [(ngModel)]="formData.name" name="name" required />
          </div>
          
          <div class="form-group">
            <label for="categoryDescription">Descripción</label>
            <textarea id="categoryDescription" class="form-control" [(ngModel)]="formData.description" name="description" required></textarea>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="handleCancel()">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="loading">
              <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              {{ isEditing ? 'Actualizar' : 'Agregar' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
