<section class="container-fluid vh-100 fondo d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center">

            <h1>Encuentra todo lo que buscas para <span style="color: #6CC51D; text-decoration: underline;">alquilar en
                    un solo</span> lugar</h1>

        </div>

        <div>


            <!-- Buscador -->
            <div class="buscador">
                <input type="text" class="form-control" placeholder="¿Qué estás buscando?">
                <div class="ubicacion">
                    <input type="text" class="form-control" placeholder="¿Dónde?">
                </div>
                <button class="btn btn-success">
                    Buscar <i class="fas fa-search" style="margin-left: 5px;"></i>
                </button>
            </div>
        </div>
    </div>
</section>




<section id="iconCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <!-- Primer conjunto de íconos -->
        <div class="carousel-item active">
            <div class="d-flex justify-content-around align-items-center">
                <div class="text-center">
                    <i class="bi bi-tv" style="font-size: 5rem;"></i>
                    <p>Electrónica y Tecnología</p>
                </div>
                <div class="text-center">
                    <i class="bi bi-tools" style="font-size: 5rem;"></i>
                    <p>Maquinaria y Herramientas</p>
                </div>
                <div class="text-center">
                    <i class="bi bi-film" style="font-size: 5rem;"></i>
                    <p>Equipos de Sonido</p>
                </div>
                <div class="text-center">
                    <i class="bi bi-music-note-beamed" style="font-size: 5rem;"></i>
                    <p>Instrumentos Musicales</p>
                </div>
                <div class="text-center">
                    <i class="bi bi-phone" style="font-size: 5rem;"></i>
                    <p>Teléfonos y Accesorios</p>
                </div>
            </div>
        </div>
        <!-- Segundo conjunto de íconos -->
        <div class="carousel-item">
            <div class="d-flex justify-content-around align-items-center">
                <div class="text-center">
                    <i class="bi bi-display" style="font-size: 5rem;"></i>
                    <p>Monitores</p>
                </div>
                <div class="text-center">
                    <i class="bi bi-laptop" style="font-size: 5rem;"></i>
                    <p>Laptops</p>
                </div>
                <div class="text-center">
                    <i class="bi bi-headphones" style="font-size: 5rem;"></i>
                    <p>Auriculares</p>
                </div>
                <div class="text-center">
                    <i class="bi bi-camera" style="font-size: 5rem;"></i>
                    <p>Cámaras</p>
                </div>
                <div class="text-center">
                    <i class="bi bi-watch" style="font-size: 5rem;"></i>
                    <p>Relojes Inteligentes</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Controles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#iconCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#iconCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</section>


<section class="container ">
    <div>
        <h1>Productos relacionados</h1>
        <p>Promocionado</p>
    </div>
    <div>
        <div class="row row-cols-4 row-cols-md-3 row-cols-lg-3 g-4">
            <div class="col" *ngFor="let product of products">
                <div class="card h-100">
                    <img [src]="product.primaryPhotoUrl ? product.primaryPhotoUrl : '/default.png'"
                        alt="Card image cap" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <p class="card-text">Categoría: {{ product.categoryName }}</p>
                        <p class="card-text">Precio: {{ product.price | currency }}</p>
                        <p *ngIf="product.productCondition">{{product.productCondition}}</p>
                        <p *ngIf="product.supplierName">{{product.supplierName}}</p>
                    </div>
                    <div class="card-footer d-flex">
                        <button routerLink="/detailproduct" class="btn m-auto alquilar">Alquilar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row my-5">
    <div class="contenedor">
      <button routerLink="/user/listproducts" class="boton-ver-mas">Ver más</button>
    </div>
  </div>

  <div class="container">
    <!-- Título centrado -->

    <div class="d-flex flex-wrap justify-content-center">

        <h1>¿Cómo funciona<span style="color: #6CC51D; text-decoration: underline;">-> Alquilaya?</span></h1>

    </div>

    
    <!-- Botones centrados -->
    <div class="d-flex justify-content-center mb-5">
      <button class="btn mx-3" (click)="mostrarPedir()">Pedir Prestado</button>
      <button class="btn mx-3" (click)="mostrarPrestar()">Prestar</button>
    </div>
    
    <!-- Contenido de tarjetas -->
    <div class="row">
      <div class="col-3" *ngFor="let tarjeta of tarjetas">
        <div class="card">
          <img class="card-img-top" [src]="tarjeta.img" [alt]="tarjeta.titulo">
          <div class="card-body">
            <h3 class="card-title">{{ tarjeta.titulo }}</h3>
            <p class="card-text">{{ tarjeta.descripcion }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

