<section class="my-5">
    <div class="container py-5 bg-white rounded text-center">
        <div class="py-5">
            <h1>Bienvenido a Alquilaya, Nombre de Usuario</h1>
        </div>
        <div class="p-5">
            <h4>Tu cuenta no se encuentra activa. para comenzar a alquilar productos, por favor completa los siguiente pasos</h4>
        </div>
        <div class="d-flex justify-content-around">
            <div class="rounded diseño border border-success">
                <h4 class="py-5">Cedula de Ciudadania</h4>
                <input class="btn btn-primary mb-3" type="button" value="Subir">
            </div>
            <div class="rounded diseño border border-success">
                <h4 class="py-5">Registro Mercantil</h4>
                <input class="btn btn-primary mb-3" type="button" value="Subir">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col align-self-center text-center">
                <input name="" id="" class="btn btn-primary" type="button" value="Guardar Cambios"/>
            </div>
        </div>
    </div>
</section>
