<!-- Modal -->
<div
  class="modal fade"
  id="recoverModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex">
        <h3 class="text-center fw-bolder">Recuperar Contraseña</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- Login Modal Body -->
      <div class="modal-body">
        <div class="contenido">
          <form [formGroup]="recoverFrom" (ngSubmit)="onRecover()">
            <!-- Campo de Email -->
            <div class="mb-3">
              <div class="input-group">
                <span class="input-group-text">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="auto"
                    height="20"
                    fill="currentColor"
                    class="bi bi-envelope"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"
                    />
                  </svg>
                </span>
                <input
                  id="email"
                  formControlName="email"
                  type="email"
                  class="form-control"
                  placeholder="Ingresa tu correo"
                />
              </div>
              <div
                *ngIf="
                  recoverFrom.controls['email'].touched &&
                  recoverFrom.controls['email'].invalid
                "
              >
                <div *ngIf="recoverFrom.controls['email'].errors?.['required']">
                  El correo electrónico es obligatorio.
                </div>
                <div *ngIf="recoverFrom.controls['email'].errors?.['email']">
                  Por favor ingresa un correo electrónico válido.
                </div>
              </div>
            </div>
            <div class="text-center mb-3">
              <button type="submit" class="btn btn-lg btn-dark w-100">
                Recuperar Contraseña
              </button>
            </div>
          </form>
          <p class="link-secondary text-decoration-none">
            <span  type="button" class="text-success fw-bolder text-decoration-none cursor-pointer" 
            data-bs-toggle="modal" data-bs-target="#loginModal">
            Volver al Inicio de Sesión
      </span>
            
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
