<!-- Modal -->
<div
  class="modal fade"
  id="changeModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2>cambiar contraseña</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <!-- Login Modal Body -->
      <div class="modal-body">
        <div class="contenido">
          <div>
            <div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="auto"
                      height="27"
                      fill="currentColor"
                      class="bi bi-lock-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"
                      />
                    </svg>
                  </span>
                </div>
                <!-- ngModel para enlazar el correo -->
                <input
                  [type]="showcurrentPassword ? 'text' : 'password'"
                  class="form-control"
                  placeholder="contraseña actual"
                  required
                  name="currentPassword"
                />
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  (click)="toggleshowcurrentPasswordVisibility()"
                >
                  <i
                    [ngClass]="showcurrentPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
                  ></i>
                </button>
              </div>
            </div>
            <div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="auto"
                      height="27"
                      fill="currentColor"
                      class="bi bi-lock-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"
                      />
                    </svg>
                  </span>
                </div>
                <!-- ngModel para enlazar la contraseña -->
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control"
                  placeholder="Contraseña"
                  required
                  name="newPassword"
                />
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  (click)="togglePasswordVisibility()"
                >
                  <i
                    [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
                  ></i>
                </button>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn mx-5 sesion"   >Cambiar contraseña</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
