
<section class="container-fluid vh-100 fondo d-flex align-items-center justify-content-center">
    <div class="container">
        <div>
            
            <!-- Buscador -->
            <div class="buscador">
                <input type="text" class="form-control" placeholder="¿Qué estás buscando?">
                <div class="ubicacion">


                    <div class="position-relative">
                        <input 
                          type="text" 
                          class="form-control ps-5" 
                          placeholder=" ¿Dónde?" 
                          style="font-family: 'Bootstrap Icons', sans-serif;">
                      </div>
                      

                
                
                <button class="btn btn-success">
                    Buscar <i class="fas fa-search" style="margin-left: 5px;"></i>
                  </button>
            </div>
        </div>
    </div>
</section>

<button class="btn-filtro">
    <i class="bi bi-sliders"></i> Filtros
</button>


<div class="ordenar">
    <label for="ordenar">Ordenar por:</label>
    <select id="ordenar">
      <option value="recomendados">Recomendados</option>
      <option value="recientes">Recientes</option>
      <option value="populares">Populares</option>
    </select>
  </div>

<section class="container my-5">
    <div>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="/guitarra.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Titulo</h3>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer text-center">
                        <input name="" id="" class="btn mx-5 alquilar" type="button" value="Alquilar"/>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="/compu.jfif" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Titulo</h3>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer text-center">
                        <input name="" id="" class="btn mx-5 alquilar" type="button" value="Alquilar"/>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="/sonido.jfif" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Titulo</h3>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer text-center">
                        <input name="" id="" class="btn mx-5 alquilar" type="button" value="Alquilar"/>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="/taladro.jfif" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Titulo</h3>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer text-center">
                        <input name="" id="" class="btn mx-5 alquilar" type="button" value="Alquilar"/>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="/camara.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Titulo</h3>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer text-center">
                        <input name="" id="" class="btn mx-5 alquilar" type="button" value="Alquilar"/>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="/transporte-para-grupos.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Titulo</h3>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer text-center">
                        <input name="" id="" class="btn mx-5 alquilar" type="button" value="Alquilar"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">


         