<div class="rental-container">
    <!-- Sección izquierda: Imágenes del producto -->
    <div class="image-section">
      <h1>Sony FX6 Full-Frame Cinema Camera</h1>
      
      <div class="direccion-rating">
        <p><i class="location-icon"></i> Bogotá, Colombia</p>
        <p class="rating">9.9 - <span>Excelente</span></p>
    </div>
    
      <div class="product-images">
        <img src="camera.jpeg" alt="Camera" class="main-image">
        <div class="thumbnail-images">
          <img src="camara.jpg" alt="Camera Thumbnail">
          <img src="camara.jpg" alt="Camera Thumbnail">
          <img src="camara.jpg" alt="Camera Thumbnail">
        </div>
      </div>
    </div>
  
    <!-- Sección derecha: Detalles del alquiler -->
    <div class="details-section">
      <h2 class="price">Precio: <span>$20.000</span> por día</h2>
      <p class="info">
        Días de recogida y devolución gratuitos.<br />
        Los fines de semana cuentan como un día.<br />
        Mínimo de alquiler: 1 día.<br />
        Descuento: Alquila 6 días y paga solo 4.
      </p>
      <div class="date-picker">
        <label for="date-picker">
          <i class="calendar-icon"></i> Elija fechas de recogida y devolución
        </label>
        <input type="date" id="date-picker">
      </div>
      <button class="details-button">Ver detalles del alquiler</button>
      <div class="price-details">
        <p>Precio por día: <span>$9.999.999 Cop</span></p>
        <p>Otros: <span>$1 Cop</span></p>
      </div>
      <h3 class="total-price">Precio Total: <span>$100.000 Cop</span></h3>
      <button class="add-to-cart">Añadir al carrito de alquiler</button>
    </div>
  </div>
  
  <section class="container my-5">
    <div>
        <h1>Productos relacionados</h1>
        <p>Promocionado</p>
    </div>
    <div>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="./taladro.jfif" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Titulo</h3>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer text-center">
                        <input name="" id="" class="btn mx-5 alquilar" type="button" value="Alquilar"/>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="./taladro.jfif" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Titulo</h3>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer text-center">
                        <input name="" id="" class="btn mx-5 alquilar" type="button" value="Alquilar"/>
                    </div>
                </div>
            </div>
            
           
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="./taladro.jfif" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Titulo</h3>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer text-center">
                        <input name="" id="" class="btn mx-5 alquilar" type="button" value="Alquilar"/>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="./taladro.jfif" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Titulo</h3>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer text-center">
                        <input name="" id="" class="btn mx-5 alquilar" type="button" value="Alquilar"/>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>