/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
    /* Variables de color */
    --fondo-gradient: linear-gradient(45deg, #D4DB81, #AEDC81, #DBD381, #038f2a);
    --logo-border: #5aad10;
    --usuario-bg: #2e8b57;
  }
body {
    background-color: #F0F0F0;
}
