<section class="container-fluid vh-100 fondo d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center">
            <h1>Encuentra todo lo que buscas para alquilar en un solo lugar</h1>
        </div>
    </div>
</section>
<section class="container my-5">
    <div>
        <h1>Recien listado para la venta</h1>
        <p>Compre las ultimas novedades de los miembros de Alquilaya</p>
    </div>
    <div>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="/indicator-svgrepo-com.svg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Titulo</h3>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer text-center">
                        <input name="" id="" class="btn mx-5 alquilar" type="button" value="Alquilar"/>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="/indicator-svgrepo-com.svg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Titulo</h3>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer text-center">
                        <input name="" id="" class="btn mx-5 alquilar" type="button" value="Alquilar"/>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="/indicator-svgrepo-com.svg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Titulo</h3>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer text-center">
                        <input name="" id="" class="btn mx-5 alquilar" type="button" value="Alquilar"/>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="/indicator-svgrepo-com.svg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Titulo</h3>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer text-center">
                        <input name="" id="" class="btn mx-5 alquilar" type="button" value="Alquilar"/>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="/indicator-svgrepo-com.svg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Titulo</h3>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer text-center">
                        <input name="" id="" class="btn mx-5 alquilar" type="button" value="Alquilar"/>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="/indicator-svgrepo-com.svg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Titulo</h3>
                        <p class="card-text">Categoria</p>
                    </div>
                    <div class="card-footer text-center">
                        <input name="" id="" class="btn mx-5 alquilar" type="button" value="Alquilar"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid purpose">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center my-3">
            <h1>¿Cómo funciona Alquilaya?</h1>
        </div>
        <div class="d-flex align-items-center justify-content-center mb-5 botones">
            <input name="" id="" class="btn mx-5" type="button" value="Pedir Prestado"/>
            <input name="" id="" class="btn mx-5" type="button" value="Prestar"/>
        </div>
        <div class="my-5">
            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <img class="card-img-top" src="/indicator-svgrepo-com.svg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">1. Buscar</h3>
                            <p class="card-text">Encuentre un producto cerca de usted</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img class="card-img-top" src="/indicator-svgrepo-com.svg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">2. Verificar</h3>
                            <p class="card-text">Verifique su perfil para convertirse en miembro</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img class="card-img-top" src="/indicator-svgrepo-com.svg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">3. Reservar</h3>
                            <p class="card-text">Envia una solicitud a tu vecino y reserva</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img class="card-img-top" src="/indicator-svgrepo-com.svg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">4. Aprovechar</h3>
                            <p class="card-text">Utiliza el producto y devuelvelo en el tiempo acordado</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center informacion">
            <h2>Consulte nuestras preguntas frecuentes para obtener mas informacion</h2>
        </div>
        <div class="d-flex align-items-center justify-content-center my-5">
            <input name="" id="" class="btn start-now mx-5" type="button" value="Empezar a pedir Prestado"/>
        </div>
    </div>
</section>
