.fondo {
    background-image: url("/home/pexels-enginakyurt-5209693.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card {
    height: 100%;
}

.col-3 {
    margin-top: 25px;
}

.alquilar {
    background-color: #6CC51D;
    color: white;
    padding: 5px 30px;
}

.purpose {
    background-color: #AEDC81;
    padding: 80px 10px;
    h1, h2 {
        color: #0D0839;
        font-weight: 700;
    }
}

.botones {
    padding: 50px 0px;
    .btn {
        color: #0D0839;
        background-color: white;
        width: 15%;
        padding: 10px;
        font-weight: 500;
    }
}

.informacion {
    padding-top: 60px;
}

.start-now {
    color: #0D0839;
    background-color: white;
    width: 25%;
    padding: 10px;
    font-weight: 500;
}

