.fondo {
  background: var(--fondo-gradient);
}

.img-logo {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  object-fit: cover; 
  border: 2px solid var(--logo-border); 
}

.usuario {
  background-color: var(--usuario-bg);
  border-radius: 50px;
}

/* Modificación del dropdown */
.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -90%;
  margin-top: var(--bs-dropdown-spacer);
}
.span-text {
  font-size: 2rem; /* Ajusta el tamaño según sea necesario */
  font-weight: bold;
  text-transform: uppercase;
  color: green; /* Color interior del texto */
  background-image: linear-gradient(to left, green, green);
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  position: relative;
  padding: 0 5px;
  text-shadow: 
  0 0 1px white, 
  0 0 10px white,
  0 0 15px white,
  0 0 20px white,
  0 0 2px white; 
clip-path: inset(0);
}


